@import url("./index.css");

:root {
    --very-dark: #0C0E17;
    --light-blue: #2EECEC;
    --blue: #ca164f;
    --pale: #E8E7F2;
    --bright: #F4F4FC;
    --grey: #A2A2A2;
}

.mr-large {

    margin-right: 1rem;

}

.linear-gradient {

    background: var(--blue);
    color: var(--bright);
    width: max-content;

}

body {

    height: 100vh;
    background-color: var(--pale);
    color: var(--very-dark);

}

.text {

    color: var(--very-dark);

}

.bg-dark {

    background-color: var(--pale);
    color: var(--very-dark);

}

.bg-light {

    background-color: var(--bright);
    color: var(--very-dark);

}

.text-light {

    color: var(--very-dark);

}

.bg-very-dark {

    background-color: var(--pale);
    color: var(--very-dark);

}

.bg-image {

    background: var(--bright);
    height: 30vh;
    background-position: top;
    background-size: cover;

}

.blurred {

    background-color: var(--pale);
    border-radius: 5px;

}

.h1 {

    font-size: 2rem;
    font-weight: 600;

}

.align-start {

    align-items: flex-start;

}

.dialog {

    position: fixed;
    height: 100vh;
    top: 0;
    display: none;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.342);
    align-items: center;
    justify-content: center;
    transition: .2s;

}

.dialog .dialog-content {
    color: var(--very-dark);
    padding: 1rem;
    width: 30%;
    height: max-content;
    min-width: 400px;
    background-color: var(--pale);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: var(--dark);

}

.dialog-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;


}

.max-content {
    width: max-content;
    height: max-content;
}

.pointer {

    cursor: pointer;

}

.flex-column {
    flex-direction: column;
}

input[type=text],
select,
input[type=number] {

    border: none;
    background-color: var(--bright);
    padding: 20px;
    outline: none;
    margin-bottom: 1rem;

}

input[type=submit] {
    border: none;
    background-color: var(--blue);
    color: aliceblue;
    padding: 20px;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 4px;
}

input[type=text] {

    margin-top: 1rem;

}

input[type=submit]:hover {

    opacity: .86;

}

.file-input {

    position: relative;
    cursor: pointer;

}

.file-input input[type=file] {

    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--blue);
    opacity: 0;
    height: 100%;

}
